<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>ER Highcharts Demo</title>
	</head>
	<body>
		<h1>ER Highcharts Demo</h1>
		<ul>
			<li><wo:link action="$pieChartAction">Basic Pie Chart Demo</wo:link></li>
			<li><wo:link action="$lineChartAction">Basic Line Chart Demo</wo:link></li>
			<li><wo:link action="$splineChartAction">Basic Spline Chart Demo</wo:link></li>
			<li><wo:link action="$areaChartAction">Basic Area Chart Demo</wo:link></li>
			<li><wo:link action="$barChartAction">Basic Bar Chart Demo</wo:link></li>
			<li><wo:link action="$columnChartAction">Basic Column Chart Demo</wo:link></li>
			<li><wo:link action="$scatterChartAction">Basic Scatter Chart Demo</wo:link></li>
		</ul>
		
		<ul>
			<li><wo:link pageName = "RawERHighchartComponentPage">Demo Chart without using convenience WOComponents</wo:link></li>
			<li><wo:link pageName = "RawHighchartPage">Demo of Chart without using <i>any</i> ERHighcharts WOComponents</wo:link></li>
		</ul>
	</body>
</html>
